canvas {
    border-bottom: #ff0000 solid 2px;
    width: 100%;
}
.lines{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    margin-left: 195px;
}
button {
    padding: 10px;
    text-align: center;
}
#start {
     display: block;
     text-align: center;
     color: blanchedalmond;
     background-color: white;
 }
 .bstart {
     background-color: red;
     color: white;
     font-family: fantasy;
 }
#logo {
    width: 100%;
    text-align: center;
}
#reset {
    display : none;
    text-align: center;
    text-emphasis-color: black;
    color: black;
    background-color: white;
}
.breset {
    background-color: white;
    color: black;
    font-family: fantasy;
}
